    body {
        margin: auto;
        padding: 0;
        background-color: #E3E2DF;
        overflow-x: hidden;
        width: 75%;
        text-align: center;
    }

    header {
        text-align: start;
        font-family: 'Courier New', Courier, monospace;
        font-size: 72px;
        font-weight: lighter;
        letter-spacing: 0;
        border-bottom: 1px solid #aaa;
        padding-left: 2rem;
    }

    .artist-info {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        text-align: start;
        padding-left: 1rem;
    }

    .box1 canvas {
        background-color: #EAE7DC;
        border: 4px black solid;
    }

    .box1 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 12px;
    }

    .box2 {
        font-family: 'Courier New', Courier, monospace;
        font-size: 12px;
    }

    .box2 svg {
        border: 4px black solid;
    }

    #svg-rect {
        fill: #EE4C7C;
    }

    #svg-rect {
        fill: #EE4C7C;
    }

    #triangle1 {
        fill: #8860D0;
        stroke: black;
        stroke-width: 1px;
    }

    #triangle2 {
        fill: #45A29E;
        stroke: black;
        stroke-width: 1px;
    }

    #square {
        fill: #D79922;
        stroke: black;
        stroke-width: 1px;
    }

    #circle1 {
        fill: #C5CBE3;
    }

    #circle2 {
        fill: #41B3A3;
    }

    #svg-rect {
        stroke: black;
        stroke-width: 1px;
    }


    .canvas-text {
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        justify-items: center;
    }

    .canvas-text h4 {
        padding-left: 0px;
    }


    .svg-text {
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
        justify-self: end;
        align-self: center;
    }

    .svg-text h4 {
        padding-left: 0px;

    }

    .headline {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        text-align: left;
    }

    .dokumentasjon {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
    }

    .dokumentasjon p {
        text-align: left;
        font-weight: lighter;
    }

    .dokumentasjon h3 {
        text-align: left;
    }


    .dokumentasjon button {
        border: none;
        color: white;
        background-color: #4CAF50;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .dokumentasjon button:hover {
        background-color: black;
    }




    @media only screen and (min-width: 950px) {
        body {
            margin: auto;
            padding: 0;
            background-color: #E3E2DF;
            overflow-x: hidden;
            width: 60%;
            text-align: center;
        }

        header {
            text-align: start;
            font-family: 'Courier New', Courier, monospace;
            font-size: 72px;
            font-weight: lighter;
            letter-spacing: 0;
            border-bottom: 1px solid #aaa;
            padding-left: 2rem;
        }

        .artist-info {
            margin: auto;
            font-family: 'Courier New', Courier, monospace;
            font-weight: bold;
            padding-left: 1rem;
            width: 90%;
            justify-content: center;
        }

        .grid-container {
            display: grid;
            grid-template-columns: 2fr 1fr;
            justify-items: stretch;
            grid-auto-rows: minmax(100px, auto);
            padding-top: 1rem;
            max-width: 100%;
            gap: 30px;
        }

        .box1 canvas {
            background-color: #EAE7DC;
            border: 4px black solid;
        }

        .canvas-text {
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            justify-self: start;
            justify-items: center;
            align-self: center;
        }

        .canvas-text h4 {
            padding-left: 0px;
        }


        .svg-text {
            font-family: 'Courier New', Courier, monospace;
            text-align: center;
            justify-self: center;
            align-self: center;
            justify-items: end;
        }

        .svg-text h4 {
            padding-left: 0px;
        }

        .box1 h1 {
            text-align: center;
        }

        .box2 {
            grid-column: 2/3;
        }

        .svg-text {
            grid-column: 1/2;
        }

        .box2 svg {
            border: 4px black solid;
        }

        #svg-rect {
            fill: #EE4C7C;
        }

        #triangle1 {
            fill: #8860D0;
            stroke: black;
            stroke-width: 1px;
        }

        #triangle2 {
            fill: #45A29E;
            stroke: black;
            stroke-width: 1px;
        }

        #square {
            fill: #D79922;
            stroke: black;
            stroke-width: 1px;
        }

        #circle1 {
            fill: #C5CBE3;
        }

        #circle2 {
            fill: #41B3A3;
        }

        #svg-rect {
            stroke: black;
            stroke-width: 1px;
        }
    }